/* Clearing the basic css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* top area  */
.main-page-container {
  margin: 0 10rem;
  background-color: blue;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2rem;
}
.header-area ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.header-area li a {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
}

.img {
  padding: 5rem;
  width: 5px;
  height: 5px;
  border: black 2px solid;
  border-radius: 1rem;
}

/* title area */

.site-title {
  background-color: red;
  display: flex;
  align-items: center;
  flex-direction: row;
}
